* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

li,
a {
  font-weight: 500;
  font: 14px;
  color: white;
  text-decoration: none;
}

.logo {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  max-width: 1400px;
  margin: 0 auto;
}

.nav-links {
  list-style-type: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: rgb(34, 35, 71);
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  padding: 9px 25px;
  background-color: rgb(56, 51, 51);
  color: whitesmoke;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgb(133, 128, 128, 0.8);
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(/img/2b5391ebcdcc596619d1e676f2fc041e.jpg);
  min-height: 80vh;
  max-height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hcontainer {
  max-width: 1400px;
  margin: 0 auto;
}

.hero-title {
  font-size: 6em;
  color: white;
  text-align: center;
}

.hero-subtitle {
  text-align: center;
  padding: 20px;
  color: white;
}

.shopp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.5em;
  padding: 9px 25px;
  background-color: rgba(255, 255, 255, 0.212);
  backdrop-filter: blur(100px);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: whitesmoke;
}

.shopp:hover {
  background-color: rgb(133, 128, 128, 0.8);
}

h2 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.trends {
  padding: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-container {
  display: flex;
  gap: 20px;
}

.card {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-shadow: 3px 4px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.card p {
  font-weight: 700;
}

.add {
  border: none;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 30px;
  font-weight: 700;
  position: relative;
  top: 40px;
  left: 5px;
}

.add:hover {
  background-color: #181616;
}

.deal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
  margin: 0 auto;
  background-color: black;
  max-width: 1400px;
}

h3 {
  font-size: 1.5em;
  text-align: center;
  position: relative;
  right: 500px;
  padding: 10px;
}

.deal1 {
  width: 100%;
  max-width: 800px;
}

.deal1 img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
}

.deal2 {
  width: 100%;
  max-width: 400px;
}

.deal2 img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
}

.ddcon {
  position: relative;
  min-height: 500px;
}

.off {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  text-align: left;
  z-index: 999;
}

h4 {
  font-size: 4em;
  color: white;
}

.off p {
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}

.get {
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  font-weight: 700;
}

.get:hover {
  background-color: #ccc;
}

.deal-container img {
  opacity: 0.7;
  transition: opacity 0.4s ease;
}

.deal-container img:hover {
  opacity: 1;
}

.shoe-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.shoe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.shoe-card {
  width: 100%;
  max-width: 500px;
}

.shoe-card img {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  object-position: center center;
  border-radius: 8px;
}

.shoe-card p {
  font-weight: 700;
  padding: 5px;
}

.shoe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.shoe-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #181616;
  border: none;
  padding: 10px 20px;
  font-size: 1.5em;
  border-radius: 40px;
  color: white;
}

.shoe-btn button:hover {
  background-color: #443d3d;
}

.ppo {
  display: none;
}

@media (max-width: 900px) {
  .logo {
    font-size: 1.5rem;
  }
  header {
    padding: 10px 20px;
  }
  nav .ddi {
    display: none;
  }
  .hero {
    min-height: 400px;
  }
  h3 {
    right: 290px;
  }
  .deal1 img {
    max-width: 500px;
    max-height: 300px;
  }
  .deal2 img {
    max-width: 300px;
    max-height: 300px;
  }
  .deal1 {
    max-width: 500px;
    max-height: 300px;
  }
  .deal2 {
    max-width: 300px;
    max-height: 300px;
  }
  .off {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    text-align: left;
  }
  .deal-container {
    max-width: 900;
  }
  .shoe-column {
    padding: 0px 40px;
  }
}

@media (max-width: 600px) {
  .hero {
    min-height: 65vh;
  }
  .card-container {
    flex-direction: column;
  }
  h3 {
    right: 50px;
  }
  h4 {
    font-size: 3em;
  }
  .off {
    left: 7%;
    top: 55%;
  }
  .deal1 {
    width: 300px;
  }
  .deal2 {
    width: 100px;
  }
  .deal1 img {
    max-height: 150px;
  }
  .deal2 img {
    height: 150px;
  }
  .shoe-container {
    max-width: 800px;
  }
  .shoe-card {
    max-width: 200px;
  }
  .shoe-card img {
    height: 200px;
  }
  .ppo {
    display: block;
  }
  .shoe-column {
    gap: 10px;
  }
  .shoe-column h2 {
    font-size: 25px;
  }
  .nav-links li {
    padding: 0 2px;
  }
  
  header {
    justify-content: space-evenly;
    gap: 1.5rem;
  }
 
  nav .ddo {
    display: none;
  }
  .ddr{
    display: none;
  }
  ul{
    display: none;
  }
  li a{
    font-size: 12px;
  }
  nav .ddi {
    display: inline-block;
  }
}
